@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --space-scale: 10px;
    --border-check: 1px solid black;
    --flex: 1;
    --noto-family: "Noto Sans Hanunoo", sans-serif;
    --play-display: "Playfair Display", serif;
    --small-font-size: 0.8rem;
    --white-color: white;
    --black-color: black;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px 10px;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    background-color: rebeccapurple;
}

svg{
    width: auto;
    height: 2.3vh;
}


.tabs {
    display: flex;
    gap: 8vw;
}
.tabs button {
    border: none;
    background-color: rebeccapurple;
    font-size: 1.3rem;
    padding: 10px 15px;
    transition: 0.2s;
}
.tabs button:hover{
    color: white;
    cursor: pointer;
}

.home-tab {
    flex: var(--flex);
}
.home-intro {
    padding: 20px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(../assets/image/burger.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-left: 10vw;

}
.intro-heading{
    font-size: 3.5rem
}
.secondIntro-heading {
    margin-bottom: 4px;
    font-size: 3.5rem
}
.intro-para{
    font-size: 1.5rem;
}
.introBtn {
    margin-top: 15px;
    padding: 13px 18px;
    font-size: 1rem;
    color: white;
    background-color: rgb(255, 64, 0);
    border: none;
    transition: 0.5s;
}

.introBtn:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.card-container{
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 40px 50px;
    background-color: rgb(249, 248, 248);
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 5px;
}

.card img {
    width: auto;
    height: 6vh;
}

.reserve-container {
    min-height: 60vh;
    background-image: url(../assets/image/reserveImg-min.jpg);
    background-size: cover;
    background-position: center;   
}
.reserve-gradient{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: var(--space-scale);
    color: white;
    min-height: 60vh;

    background-color: rgba(0,0,0,0.5);
}
.reserve-heading {
    font-size: 3rem;
}
.reserve-para{
    font-size: 1.5rem;
}
.reserveBtn {
    padding: 15px 30px;
    font-size: 1rem;
    color: white;
    background-color: rgb(255, 64, 0);
    border: none;
    transition: 0.5s;
}
.reserveBtn:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.dish-img {
    position: relative;
    height: 40vh; 
    background-image: url(../assets/image/food\ &\ drinks.jpeg);
    background-position: center top 40%;
    background-repeat: no-repeat;
    background-size: cover;
}
.collage-gradient {
    background-color: rgba(0,0,0,0.09);
    height: 40vh; 
}
footer {
    padding: 50px 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8vh;
    background-color: rgb(239, 239, 239);
}
.site-info {
    display: flex;
    gap: 30vw;
}
.socials {
    display: flex;
    flex-direction: column;
    gap: var(--space-scale);
}

.socials h3{
   margin-bottom: var(--space-scale);
}
.social-icons{
    display: flex;
    gap: var(--space-scale);
}
.footer-contact  h3 {
    margin-bottom: var(--space-scale);
}
.footer-contact-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-contact-container div {
    display: flex;
    align-items: center;
    gap: var(--space-scale);
}
.copyright {
    border-top: 2px solid rgb(226, 224, 224);
    margin-right: auto;
    width: 90vw;
    padding: var(--space-scale);
}

/* Menu Style */

.menu-tab {
    flex: var(--flex);
}
.menu-banner {
    background-image: url(../assets/image/menu-banner1.jpeg);
    background-size: cover;
    background-position: center;
}
.banner-gradient{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-scale);
    color: white;
    min-height: 45vh;
    font-size: 1.4rem;
    background-color: rgba(0,0,0,0.4);
}
.sub-title{
    font-size: var(--small-font-size);
    font-family: var(--play-display);
    font-style: italic;
}
.sub-title-app{
    font-size: var(--small-font-size);
    font-family: var(--play-display);
    font-style: italic;
    margin-top: 7vh;
}
.menu-container{
    background-image: url(../assets/image/menu-background.jpeg);
    background-size: cover;
    background-position: center top 30%;
    display: flex;
    flex-direction: column;
}
.menu-dish{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px 20px;
}
.menu-list-container{
    padding: 25px;
}
.menu-list{
    margin-bottom: 15px;
}
.dish-details{
    font-size: var(--small-font-size);
    font-family: var(--noto-family);
}
.end-page{
    background-image: url(../assets/image/menu-banner2.jpeg);
    background-size: cover;
    background-position: center top 30%;
    min-height: 40vh;
}

/* Contact Style */

.contact-tab{
    flex: var(--flex);
    background-color: var(--black-color);
}
.contact-banner{
    background-image: url(../assets/image/contact\ banner.jpeg);
    background-size: cover;
    background-position: center bottom 40%;
}
.contactbanner-gradient{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-scale);
    color: white;
    min-height: 45vh;
    font-size: 1.4rem;
    background-color: rgba(0,0,0,0.5);
}

.contact-info{
    display: flex;
    padding: 60px 20px;
    gap: 4vw;
}

.contact-us{
    border: var(--border-check);
    padding: 20px;
    color: white;

}
.contactUs-text{
    font-family: var(--play-display);
    font-style: italic;
    font-size: var(--small-font-size);
}
.contact-us > h2 {
    margin-bottom: 6px;
    font-size: 2rem;
}
.contact-para {
    margin-bottom: 15px;
}

.contactUs-info{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactUs-subInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
.contactUs-subInfo img {
    width: auto;
    height: 2.4vh;
}

.contactUs-subInfo svg {
    fill: var(--white-color);
}

.contact-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    align-items: flex-start;
    width: 50vw;
}

textarea{
    font-family: var(--noto-family);
    width: 40vw;
    height: 15vh;
    resize: none;
    padding: 10px;
    color: var(--white-color);
    background-color: var(--black-color);
    border: 1px solid var(--white-color)
}
input {
    font-family: var(--noto-family);
    width: 40vw;
    padding: 10px;
    color: var(--white-color);
    background-color: var(--black-color);
    border: 1px solid var(--white-color)
}
.submitBtn {
    padding: 5px 30px;
    font-size: 0.9rem;
    font-family: var(--play-display);
    color: var(--white-color);
    background-color: var(--black-color);
    transition: 0.5s;
    border: 1px solid var(--white-color)

}

.submitBtn:hover {
transform: scale(0.9);
cursor: pointer;
}